body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to bottom right, #1e3c72, #2a5298);
  color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

audio {
  width: 300px;
  margin-bottom: 20px;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 8px;
  background-color: hwb(0 89% 7%);
}

button {
  background-color: #00c896;
  color: white;
  border: none;
  padding: 15px 15px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #00a67e;
}

footer {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  opacity: 0.3;
}
